/**
 *  These are helper classes 
 * 
 */

/** Padding helpers **/
.padding_bottom_10px {padding-bottom: 10px;}
.padding_right_10px {padding-right: 10px;}
.padding_bottom_10px {padding-bottom: 10px;}
.padding_left_10px {padding-left: 10px;}
.padding_10px {padding: 10px;}

/** Margin helpers **/
.margin_bottom_10px {margin-bottom: 10px;}
.margin_right_10px {margin-right: 10px;}
.margin_bottom_10px {margin-bottom: 10px;}
.margin_left_10px {margin-left: 10px;}
.margin_10px {margin: 10px;}