/**

    This is the style for a btn


**/

/* Block element - btn */
.btn {
    outline: none;
    line-height: 1.2;
    font-size: 1rem;
    display: block;
    text-transform: uppercase;
    @extend %fontPrimary;
    border: none;
    &:hover {
        background-color: $c_heliotrope;
    }
}

.btn_inner {
    display: flex;
}
.btn_inner_left {
    width: 70%;
}

.btn_inner_right {
    width: 30%;
}

/**
    Modifiers
**/

.btn--small {
    line-height: 1;
    font-size: 0.97rem;
}

.btn--large {
    line-height: 1.5;
    font-size: 1.5rem;
    width: 300px;
}

.btn--default {
    background-color:  $c_primary;
}

.btn--error {
    background-color:  $c_bright-red;
}
